.htaccess
archive/*
cache/*
config/app.config
config/app.yml
config/databases.yml
config/db.config
config/propel.ini
config/db.php
config/*.xml
data/sql/*
development.ips
html/audio/*
html/images/*
html/pbs/*
html/events/*
html/promo/*
html/redesign/*
html/shipping/*
redesign/*
